* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
    color: antiquewhite;
}

img {
    width: 500px;
    height: auto;
}

body {
    background-color: rgba(250,227,155,255);
}

nav {
    background-color: seagreen;
}

footer {
    background-color: seagreen;
    display: flex;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    padding: 20px;
}

ul li a {
    text-decoration: none;
}


p {
    color: black;
    width: 300px;
}

#logo {
    width: 40px;
    height: auto;
}

#footertext {
    color: beige;
}
