{% load static %}
<footer>
    <ul id="footerlist">
        <li>
            <p id="footertext">Contact info:</p>
        </li>
        <li>
            <a href="https://www.instagram.com/rgg.rush/">
                <img id="logo" src="{% static 'images/ico/instagram.png' %}" alt="instagram icon">
            </a>
        </li>
        <li>
            <a href="https://es.pinterest.com/carballolantero/">
                <img id="logo" src="{% static 'images/ico/pinterest.png' %}" alt="instagram icon">
            </a>
            
        </li>
    </ul>
</footer>